$background-image: url("../img/header_background_v2.jpg");
$font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-size-regular: 18px;
$primary-color: #0401AC;
$main-font-color: #FF5722;
$date-font-color: #C3C3D4;
$article-heading-color: #607D8B;
$border-color: #607D8B;
$label-color: #607D8B;
$background-color: #EFEFEF;
$article-background-color: #ffffff;
$button-text-color: #ffffff;
$nav-border-color:  #ffffff;