$background-image: url("../img/header_background_v1.jpg");
$font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$font-size-regular: 15px;
$primary-color: #01ACAC;
$main-font-color: #ffffff;
$date-font-color: #FF5722;
$article-heading-color: $primary-color;
$border-color: #000000;
$label-color: $primary-color;
$background-color: #ffffff;
$article-background-color: #EFEFEF;
$button-text-color: #ffffff;
$nav-border-color:  #EFEFEF;